.menu{
    width: 10rem;
    height: auto;
    border: .1rem solid var(--very-light-pink);
    border-radius: .6rem;
    text-align: end;
    padding: .5rem;
    position: absolute;
    right: 7rem;
    background-color: #fff;
}
.menu ul li{
    list-style: none;
    font-size: var(--sm);
}
.menu ul li:nth-child(1),
.menu ul li:nth-child(2){
    font-weight: bold;
}
.menu ul li:last-child{
    padding-top:2rem ;
    border-top: .1rem solid var(--very-light-pink);
}
.menu ul li:last-child a{
    color: #d00;
    font-size: var(--sm);
}
.menu ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom:1.5rem ;
}