/********General*********/
:root{
  --very-light-pink:#c7c7c7;
  --white:#FFFFFF;
  --text-input-field:#F7F7F7;
  --black:#000000;
  --hospital-green :#ACD9B2;
  --dark:#232830;
  --sm:1.4rem;
  --md:1.6rem;
  --lg:1.8rem;
  --card-size-mobile:10rem;
  --card-size-desktop:15rem;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
 font-size: 62.5%;
}
body{
  font-family: 'Quicksand', sans-serif;
  /*background-color:lightyellow;*/
}